@font-face {
  font-family: 'ArchitectsDaughter'; 
  src: url('./Utility/ArchitectsDaughter-Regular.ttf'); 
}

.App {
  line-height: 10px;
  text-align: center;
}

.App-header {
  background-image: url(./Utility/line-background.jpeg);
  background-color: white;
  background-size: 100%;
  color: RGB(92,98,116);
  display: flex;
  flex-direction: column;
  font-family: 'ArchitectsDaughter';
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-overflow {
  background-color: white;
  height: 5rem;
  opacity: 0.8;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
}

.App-title {
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  top: 0;
  width: 100%;
  z-index: 3;
} 

.App-title p {
  display: block;
  margin-left: 35%;
  position: fixed;
  width: 100%;
}

.App-title h1 {
  color: red;
  font-weight: bolder;
  left: 50%;
  margin-left: -70px;
  position: fixed; 
  top: 0;
}

.App-sub-title {
  background: cyan;
  display: inline-block;
  line-height: 10px;
}

.App-sub-headers {
  font-size: calc(20px + 2vmin);
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-top: 3rem;
  text-align: start;
}

.App-third-headers {
  font-size: calc(16px + 2vmin);
  margin-left: 8rem;
  margin-top: 2rem;
  text-align: start;
}

.App-description  p {
  line-height: 2rem;
  padding: 0 5%;
}

.App-description  span {
  background: chartreuse;;
  display: inline-block;
  line-height: 10px;
}

.App-skills {
  line-height: 2rem;
  padding: 0 30%;
  overflow-wrap: break-word; 
}

.App-skills span {
  background: yellow;
  border-radius: 5px;
  display: inline-block;
  line-height: 10px;
  margin: 0 10px;
}

.App-yvideo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.App-project-text {
  display: inline-block;
  line-height: 2rem;
  margin-top: -4px;
  padding: 0 10%;
}

.App-project-text span {
  background: lightsalmon;
  display: inline-block;
  line-height: 10px;
}

.App-yvideo-text a {
  display: block;
}

.App-codewell-link {
  align-items: center;
  display: flex;
  justify-content: center
}

.App-codewell-link p {
  margin-right: 1rem;
}

.App-codewell-link a {
  margin-right: 1rem;
}

.App-codeWell-video {
  margin-bottom: -15%;
  padding-bottom: 56.25%;
  position: relative;
}

.App-codeWell-video iframe {
  border: 0;
  height: 70%;
  left: 15%;
  position: absolute;
  top: 0;
  width: 70%;
}

.App-contact {
  z-index: 10;
}

.App-footer {
  margin-bottom: 1rem;
  margin-top: 4rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .App-title p {
    margin-left: 0;
    margin-top: 60px;
  }

  .App-sub-headers {
    margin-left: 2rem;
  }

  .App-third-headers {
    margin-left: 2rem;
  }

  .App-skills {
    padding: 0 15%;
  }

  .App-yvideo-text {
    padding: 0 2rem;
  }

  .App-yvideo-img {
    width: 90%;
  }

  .App-codeWell-video iframe {
    height: 90%;
    left: 5%;
    width: 90%;
  }

}
